apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-cicd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: image-registry.openshift-image-registry.svc:5000/demo-cicd/demo--go-app:latest
        ports:
        - containerPort: 8080
        env:
        - name: APP_VERSION
          value: "1.0.0"
